.chatt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 30px;
    border-left: 1px solid #dddddd35;
    color: rgba(211, 211, 211, 0.308);
    font-weight: 500;
}